{% extends 'base.html' %}

{% block content %}
    <h1 style="text-align:center">{% block title %} Style Text Transfer{% endblock %}</h1>
    {% for content in contents %}
        <span href="#">
            <h2>{{ content['original'] }}</h2>
        </span>
        <span class="badge badge-primary">{{ content['new'] }}</span>
        <hr>
    {% endfor %}
{% endblock %}